<!-- Extending Base Template -->
{% extends 'base.html' %}

<!-- Tile Content -->
{% block title %} 404 Page Not Found {% endblock %}

<!-- Body Content -->
{% block body %}
<!-- <div>
  <h1>THE PAGE WAS NOT FOUND</h1>
  <p>We couldnt find that page at the url specified.</p>
</div> -->
  <div class="text-center">
    <iframe src="https://giphy.com/embed/VwoJkTfZAUBSU" width="332" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/89a-eightninea-VwoJkTfZAUBSU">via GIPHY</a></p>
  </div>

{% endblock%}
