<!-- Extending Base Template -->
{% extends 'base.html' %}

<!-- Tile Content -->
{% block title %} Users {% endblock %}

<!-- Body Content -->
{% block body %}

<!-- Recent Blog Posts Block -->

{% if posts %}
<div class="row justify-content-center">
  <div class="col-xs-8 col-6">
    <h1>Blogly Recent Posts</h1>
    {% for post in posts %}
    <div class="my-4">
      <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p>
      <small>By <a href="/users/{{ post.user.id }}">{{ post.user.full_name }}</a> on {{ post.pretty_created_time() }}</small>
      {% if post.tags %}
      <p>
        <span class="font-weight-bold">Tags:</span> 
        {% for tag in post.tags %}
        <a href="/tags/{{ tag.id }}">
          <span class="badge badge-primary font-italic">{{ tag.name }}</span>
        </a>
        {% endfor%}
      </p>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

{% endblock%}