<!-- Extending Base Template -->
{% extends 'base.html' %}

<!-- Tile Content -->
{% block title %} Post Details {% endblock %}

<!-- Body Content -->
{% block body %}
<div>
  <h1>{{ post.title }}</h1>
  <p>{{ post.content }}</p>
  <p>By {{ user.full_name }}</p>
</div>

{% if tags %}
<div>
  <span>Tags: </span>
  {% for tag in tags %}
  <div><a href="/tags/{{ tag.id }}">{{ tag.name }}</a></div>
  {% endfor %}
</div>
{% endif %}

<div class="row my-1">
  <div class="mx-1">
    <a href="/users/{{ user.id }}"><button class="btn btn-outline-primary" type="button">Cancel</button></a>
  </div>
  <div class="mx-1">
    <form action="/posts/{{ post.id }}/edit">
      <button class="btn btn-outline-info" type="submit">Edit</button>
    </form>
  </div>
  <div class="mx-1">
    <form action="/posts/{{ post.id }}/delete" method="POST">
      <button class="btn btn-danger" type="submit">Delete</button>
    </form>
  </div>
</div>

{% endblock%}
