<!-- Extending Base Template -->
{% extends 'base.html' %}

<!-- Tile Content -->
{% block title %} Add Post {% endblock %}

<!-- Body Content -->
{% block body %}
<form action="/users/{{ user.id }}/posts" method="POST">
  <h1>Add Post for {{ user.full_name }}</h1>
  <p>Title: <input name="title" required /></p>
  <p>Content: <input name="content" required /></p>

  {% if tags %} {% for tag in tags %}
  <div>
    <input type="checkbox" name="tag_names" value="{{ tag.name }}" />
    <label for="tag_names">{{ tag.name }}</label>
  </div>
  {% endfor %} {% endif %}

  <a href="/users/{{ user.id }}"
    ><button class="btn btn-outline-primary" type="button">Cancel</button></a
  >
  <button class="btn btn-success" type="submit">Add</button>
</form>
{% endblock%}
