<!-- Extending Base Template -->
{% extends 'base.html' %}

<!-- Tile Content -->
{% block title %} Edit Post {% endblock %}

<!-- Body Content -->
{% block body %}
<form action="/posts/{{ post.id }}/edit" method="POST">
  <h1>Edit Post</h1>
  <p>
    Title:
    <input name="title" required value='{{ post.title }}'/>
  </p>
  <p>
    Content:
    <input name="content" required value='{{ post.content }}'/>
  </p>

  {% if tags %}
  <div>
    {% for tag in tags %}
    <input type="checkbox" name='tag_names' {% if tag in post.tags %}checked{% endif %} value='{{ tag.name }}'>
    <label for="tag_names">{{ tag.name }}</label>
    {% endfor %}
  </div>
  {% endif %}

  <a href="/posts/{{ post.id }}"><button type="button">Cancel</button></a>
  <button type="submit">Add</button>
</form>
{% endblock%}
