<!-- Extending Base Template -->
{% extends 'base.html' %}

<!-- Tile Content -->
{% block title %} Edit Tag {% endblock %}

<!-- Body Content -->
{% block body %}
<form action="/tags/{{ tag.id }}/edit" method="POST">
  <h1>Edit a tag</h1>
  <label for="name">Name:</label>
  <input name="name" required value='{{ tag.name }}'/>

  <div>
    {% for post in posts %}
    <div>
      <input type="checkbox" name='post_names' {% if tag in post.tags %}checked{% endif %} value='{{ post.title }}' >
      <label for="tag_names">{{ post.title }}</label>
      {% endfor %}
    </div>
  </div>

  <div>
      <a href="/tags/{{ tag.id }}"><button class="btn btn-outline-primary" type="button">Cancel</button></a>
      <button class="btn btn-success" type="submit">Add</button>
  </div>
</form>
{% endblock%}
