<!-- Extending Base Template -->
{% extends 'base.html' %}

<!-- Tile Content -->
{% block title %} Add User {% endblock %}

<!-- Body Content -->
{% block body %}
<h1>Create a user</h1>
<form action="/users" method="POST">
  <p>
    First Name:
    <input name="first_name" placeholder="Enter a first name" required />
  </p>
  <p>
    Last Name:
    <input name="last_name" placeholder="Enter a last name" required />
  </p>
  <p>
    Image URL:
    <input
      name="image_url"
      type="url"
      placeholder="Provide an image of this user"
    />
  </p>
  <a href="/users"><button type="button">Cancel</button></a>
  <button type="submit">Add</button>
</form>
{% endblock%}
