<!-- Extending Base Template -->
{% extends 'base.html' %}

<!-- Tile Content -->
{% block title %} Users {% endblock %}

<!-- Body Content -->
{% block body %}

<!-- User List Block -->
<div>
  <h1>Users</h1>
  <ul>
    {% for user in users %}
    <li>
      <a href="/users/{{ user.id }}">{{ user.full_name }}</a>
    </li>
    {% endfor %}
  </ul>
</div>

<!-- Create User Block -->
<div>
  <h1>Create a user</h1>
  <form action="/users/new" method="GET">
    <button class="btn btn-success" type="submit">Add User</button>
  </form>
</div>

{% endblock%}