<!-- Extending Base Template -->
{% extends 'base.html' %}

<!-- Tile Content -->
{% block title %} Edit a User {% endblock %}

<!-- Body Content -->
{% block body %}

<h1>Edit a user</h1>
<form action="/users/{{ user.id }}/edit" method="POST">
  <p>
    First Name:
    <input
      name="first-name"
      placeholder="Enter a first name"
      value="{{ user.first_name }}"
      required
    />
  </p>
  <p>
    Last Name:
    <input
      name="last-name"
      placeholder="Enter a last name"
      value="{{ user.last_name }}"
      required
    />
  </p>
  <p>
    Image URL:
    <input
      name="image-url"
      type="url"
      placeholder="Provide an image
    of this user"
      {% if not user.image_url %}
      value="{{ user.image_url }}"
      {% endif %}
    />
  </p>
  <div><button>Cancel</button> <button type="submit">Save</button></div>
</form>

{% endblock%}
