<!-- Extending Base Template -->
{% extends 'base.html' %}

<!-- Tile Content -->
{% block title %} Users {% endblock %}

<!-- Body Content -->
{% block body %}
<div class="my-3">
  <h1>{{ user.get_full_name() }}</h1>
  <div class="mx-2 my-5"><img src="{{ user.image_url }}" alt="user profile picture" /></div>
  <div>
    <div class="row">
      <div class="mx-1">
        <a href="/users"><button class="btn btn-success" type="submit">Back</button></a>
      </div>
      <div class="mx-1">
        <form action="/users/{{ user.id }}/edit" method="GET">
          <button class="btn btn-outline-info" type="submit">Edit</button>
        </form>
      </div>
      <div class="mx-1">
        <form action="/users/{{ user.id }}/delete" method="POST">
          <button class="btn btn-danger" type="submit">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% if posts %}
<div>
  <h1>Posts</h1>
  <ul>
  {% for post in posts %}
  <li><a href="/posts/{{ post.id }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

</div>
{% endif %}
<div>
  <form action="/users/{{ user.id }}/posts/new">
    <button class="btn btn-outline-success" type="submit">Add Post</button>
  </form>
</div>

{% endblock%}
