<!-- Extending Base Template -->
{% extends 'base.html' %}

<!-- Tile Content -->
{% block title %} Edit a User {% endblock %}

<!-- Body Content -->
{% block body %}

<h1>Edit a user</h1>
<form action="/users/{{ user.id }}/edit" method="POST">
  <p>
    First Name:
    <input
      name="first_name"
      placeholder="Enter a first name"
      value="{{ user.first_name }}"
      required
    />
  </p>
  <p>
    Last Name:
    <input
      name="last_name"
      placeholder="Enter a last name"
      value="{{ user.last_name }}"
      required
    />
  </p>
  <p>
    Image URL:
    <input
      name="image_url" type="url" placeholder="Provide an image of this user" value="{{ user.image_url }}" />
  </p>
  <a href="/users/{{ user.id }}"><button type="button">Cancel</button></a>
  <div><button type="submit">Save</button></div>
</form>

{% endblock%}

      <!-- {% if not user.image_url %} -->
           <!-- {% endif %} -->