<!-- Extending Base Template -->
{% extends 'base.html' %}

<!-- Tile Content -->
{% block title %} Users {% endblock %}

<!-- Body Content -->
{% block body %}
<div>
  <h1>{{ user.get_full_name() }}</h1>
  <div><img src="{{ user.image_url }}" alt="user profile picture" /></div>
  <div>
    <form action="/users/{{ user.id }}/edit" method="GET">
      <button type="submit">Edit</button>
    </form>
    <form action="/users/{{ user.id }}/delete" method="POST">
      <button type="submit">Delete</button>
    </form>
    </div>
</div>

{% endblock%}
